<div data-role="charm-list">
    <h1 style="border: none">
        <button class="item-button" data-action="add-item" data-item-type="solarCharm" type="button">
            <i class="fas fa-plus"></i>
        </button>
        Charms
    </h1>

    <div class="charm-filter" style="margin: 10px 0; border: 1px solid black; padding: 10px">
        <h3>Filter</h3>

        <div class="flexrow">
            <div>
                Skill:
                <select data-field="tree">
                    <option value=""></option>
                    {{#each charmTrees as |skill key|}}
                    <option value="{{ skill }}">{{ skill }}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                Type:
                <select data-field="type">
                    <option value=""></option>
                    <option value="Simple">Simple</option>
                    <option value="Supplemental">Supplemental</option>
                    <option value="Reflexive">Reflexive</option>
                    <option value="Permanent">Permanent</option>
                </select>
            </div>
        </div>
    </div>

    <div class="charm-list">
        {{#each charms as |set skill|}}
            <div class="charm-set" data-tree="{{ skill }}" style="margin-top: 10px; padding: 10px; border-bottom: 1px solid #aaa; margin-bottom: 10px;">
                <h3>
                    {{ skill }}
                </h3>

                <div class="charms" style="margin-left: 20px;">
                    {{#each set as |charm index|}}
                    <div data-type="{{ charm.data.type }}">
                        <div class="section-title">
                            <h4>
                                <button class="item-button" data-action="delete-item" data-item-id="{{ charm._id }}" type="button">
                                    <i class="fas fa-trash"></i>
                                </button>

                                <button class="item-button" data-action="edit-item" data-item-id="{{ charm._id }}" type="button">
                                    <i class="fas fa-edit"></i>
                                </button>
                                {{ charm.name }}
                            </h4>
                            <div class="after"></div>
                        </div>

                        <strong>Cost: </strong> {{ charm.data.cost }}
                        <strong>Type: </strong> {{ charm.data.type }}
                        <strong>Keywords: </strong> {{keyword_list charm.data.keywords }}
                        <div style="white-space: pre">{{ charm.data.description }}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>