<header class="sheet-header flexrow">
    <img class="profile" src="{{ actor.img }}" style="height: auto; max-width: 100px" title="{{ actor.name }}" data-edit="img" />

    <section class="header-details">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'example.NAME' }}" />
        </h1>
        <label style="display: block;">
            <span style="display: block">
                Possessive name:
            </span>
            <input type="text" name="data.possessive_name" value="{{ actor.data.possessive_name }}" />
        </label>
    </section>

    <aside>
        <label class="d-block mb-1">
            <span>Caste:</span>
            <input type="text" name="data.caste" value="{{ actor.data.caste }}" />
        </label>

        <label class="d-block mb-1">
            <span>Supernal:</span>
            <select name="data.supernal_ability">
                {{#select actor.data.supernal_ability }}
                    {{#each abilities as |attr key| }}
                        <option value="{{ key }}">{{ key }}</option>
                    {{/each}}
                {{/select}}
            </select>
        </label>

        <label class="d-block mb-1">
            <span>Anima Banner:</span>
            <select name="data.anima_level">
                {{#select actor.data.anima_level }}
                <option value="0">Dim</option>
                <option value="1">Glowing</option>
                <option value="2">Burning</option>
                <option value="3">Bonfire/Iconic</option>
                {{/select }}
            </select>
        </label>
    </aside>
</header>