<div class="skill-list">
    <div class="section-title">
        <div class="before"></div>
        <h3>Abilities</h3>
        <div class="after"></div>
    </div>

    {{#each actor.data.skills as |skill key|}}
    <div>
        {{{render_skill key skill true}}}
    </div>
    {{/each}}
    <h4>Additional</h4>
    {{#each actor.data.additional_skills as |skill key |}}
    <div>
        {{{render_additional_skill key skill true}}}
    </div>
    {{/each}}
</div>