<label class="d-block mb-1">
    <span>Tell:</span>
    <input type="text" name="data.tell" value="{{ actor.data.tell }}" />
</label>

<label class="d-block mb-1">
    <span>Spirit Shape:</span>
    <input type="text" name="data.spirit_shape" value="{{ actor.data.spirit_shape }}" />
</label>

<div class="shape-list">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            <button class="item-button" data-action="add-item" data-item-type="shape" type="button">
                <i class="fas fa-plus"></i>
            </button>
            Shape
        </h3>
        <div class="after"></div>
    </div>

    {{#each shapes as |shape key|}}
    <div>
        <button class="item-button" data-action="delete-item" data-item-id="{{ shape._id }}" type="button">
            <i class="fas fa-trash"></i>
        </button>

        <button class="item-button" data-action="edit-item" data-item-id="{{ shape._id }}" type="button">
            <i class="fas fa-edit"></i>
        </button>
        <div style="display: inline-block ;width: 5em;">
            {{ shape.name }}
        </div>
    </div>
    {{/each}}
</div>