{{#if shape}}
    <div class="section-title">
        <div class="before"></div>
        <h3>Dice Pools</h3>
        <div class="after"></div>
    </div>
    {{#each shape.data.data.pools as |pool key|}}
        <div>
            <button
                    class="attribute-dice item-button rollable"
                    data-roll-pool="{{ pool.pool }}"
                    data-roll-text="{{ pool.name }}"
                    data-roll-characteristic1="{{ pool.pool1 }}"
                    data-roll-characteristic2="{{ pool.pool2 }}"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span>
                {{ pool.name }} - {{ pool.pool }}
            </span>
        </div>
    {{/each}}
{{/if}}
