<form role="form">
    <label>
        <span style="display: block">Attribute:</span>
        <select name="attribute">
            {{#select attribute}}
                <option value="strength">Strength</option>
                <option value="dexterity">Dexterity</option>
                <option value="stamina">Stamina</option>
                <option value="appearance">Appearance</option>
                <option value="charisma">Charisma</option>
                <option value="manipulation">Manipulation</option>
                <option value="perception">Perception</option>
                <option value="intelligence">Intelligence</option>
                <option value="wits">Wits</option>
            {{/select}}
        </select>
    </label>

    {{#if hasSecondaryAttribute }}
        <label>
            <span style="display: block">Secondary Attribute:</span>
            <select name="secondary_attribute">
                <option value=""></option>
                <option value="strength">Strength</option>
                <option value="dexterity">Dexterity</option>
                <option value="stamina">Stamina</option>
                <option value="appearance">Appearance</option>
                <option value="charisma">Charisma</option>
                <option value="manipulation">Manipulation</option>
                <option value="perception">Perception</option>
                <option value="intelligence">Intelligence</option>
                <option value="wits">Wits</option>
            </select>
        </label>
    {{/if}}

    <label>
        <span style="display: block">Bonus Charm Dice:</span>
        <input type="number" value="0" name="charm_dice" />
    </label>

    <label>
        <span style="display: block">Bonus Non-charm Dice / Other Modifiers:</span>
        <input type="number" value="0" name="non_charm_dice" />
    </label>

    <label>
        <span style="display: block">Specialty:</span>
        <input type="checkbox" name="specialty" value="1" />
    </label>

    <label>
        <span style="display: block">Stunt Dice:</span>
        <input type="number" value="0" name="stunt_dice" />
    </label>

    <!-- todo - not implemented -->
    <label style="display: none">
        <span style="display: block">Total Essence Spent (personal / peripheral):</span>
        <input type="number" class="small-number" name="essence_personal" />
        <input type="number" class="small-number" name="essence_peripheral" />
    </label>

    <div>
        <span style="display: block">Reroll:</span>
        <div class="flexrow">
            <div>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="1" /> 1</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="2" /> 2</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="3" /> 3</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="4" /> 4</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="5" /> 5</label>
            </div>
            <div>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="6" /> 6</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="7" /> 7</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="8" /> 8</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="9" /> 9</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="rerolls[]" value="10" /> 10</label>
            </div>
        </div>
    </div>

    <div>
        <span style="display: block">Doubles:</span>
        <div class="flexrow">
            <div>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="1" /> 1</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="2" /> 2</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="3" /> 3</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="4" /> 4</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="5" /> 5</label>
            </div>
            <div>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="6" /> 6</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="7" /> 7</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="8" /> 8</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" value="9" /> 9</label>
                <label style="display: block; margin-left: 20px;"><input type="checkbox" name="doubles[]" checked value="10" /> 10</label>
            </div>
        </div>
    </div>
</form>