<form role="form">
    <div class="flexrow">
        <label class="d-block">
            Bashing: <input type="number" class="small-number" value="0" name="bashing" />
        </label>
        <label class="d-block">
            Lethal: <input type="number" class="small-number" value="0" name="lethal" />
        </label>
        <label class="d-block">
            Aggravated: <input type="number" class="small-number" value="0" name="aggravated" />
        </label>
    </div>
</form>