<form role="form">
    <label style="display: block">
        <span style="display: block">Characteristic 1:</span>
        <select name="characteristic1">
            {{#select characteristic1 }}
                <option value=""></option>
                {{#each characteristics as |characteristic| }}
                <option value="{{ characteristic }}">{{ characteristic }}</option>
                {{/each}}
            {{/select}}
        </select>
    </label>

    <label style="display: block">
        <span style="display: block">Characteristic 2:</span>
        <select name="characteristic2">
            {{#select characteristic2 }}
                <option value=""></option>
                {{#each characteristics as |characteristic| }}
                <option value="{{ characteristic }}">{{ characteristic }}</option>
                {{/each}}
            {{/select}}
        </select>
    </label>

    <label style="display: block">
        Specialty? <input type="checkbox" name="has_specialty" value="1" />
    </label>
</form>