<form role="form">
    <label>
        <span style="display: block">Amount:</span>
        <input type="number" value="0" name="amount" />
    </label>

    <div>
        <span style="display: block">Source:</span>
        <label>
            <input type="radio" value="personal" name="source" checked />
            Personal
        </label>

        <label>
            <input type="radio" value="peripheral" name="source" />
            Peripheral
        </label>
    </div>

    <label>
        <span style="display: block">Mute:</span>
        <input type="checkbox" name="mute" value="1" />
    </label>
</form>