.small-number,
input.small-number {
    width: 3em;
}

.item-button {
    width: 30px;
    height: 30px;
    font-size: 12px;
}

.mb-1,
input.mb-1 {
    margin-bottom: 10px;
}

.mb-2,
input.mb-2 {
    margin-bottom: 20px;
}

.mt-2 {
    margin-top: 20px;
}

.dots {
    display: inline-block;
    margin: 5px;
}

.dot {
    display: inline-block;
    margin: 0 2px;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    text-align: center;
}

.style-dot .dot {
    border-radius: 100%;
}

.dot.style-box {

}

.dot.filled {
    background-color: black;
}

.attribute-name {
    display: inline-block;
    text-align: right;
    width: 85px;
}

.attribute-dice {
    display: inline-block;
    margin: 2px 0;
}

.skill-name {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.d-block {
    display: block;
}

.section-title {
    display: flex;
}

.section-title .before {
    margin-top: 1em;
    margin-right: 5px;
    flex-grow: 1;
    height: 1px;
    background-color: black;
}

.section-title .after {
    margin-top: 1em;
    margin-left: 5px;
    flex-grow: 1;
    height: 1px;
    background-color: black;
}

.section-title h3 {
    font-weight: bold;
    text-align: center;
    flex-grow: 0;
    padding: 2px 5px;
}

.willpower,
.limit-break {
    text-align: center;
}

.pre {
    white-space: pre;
}