<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    {{{partial "templates/actors/partials/header.html" }}}

    {{!-- Body --}}
    <section class="sheet-body mb-2">
        <p>
            {{ actor.data.description }}
        </p>
    </section>
</form>