<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    {{{partial "templates/actors/partials/lunar/header.html" }}}

    {{!-- Navigation --}}
    <nav class="sheet-navigation tabs mb-2" data-group="primary">
        <a class="item active" data-tab="tab-1">Stats</a>
        <a class="item" data-tab="tab-2">Charms</a>
        <a class="item" data-tab="tab-3">Caste/Anima</a>
        <a class="item" data-tab="tab-4">Shapes</a>
        <a class="item" data-tab="tab-5">Description/Bio</a>
        <a class="item" data-tab="tab-6">Intimacies</a>
        <a class="item" data-tab="tab-7">Pools</a>
    </nav>

    {{!-- Body --}}
    <section class="sheet-body mb-2">
        <div class="tab tab-1" data-group="primary" data-tab="tab-1">
            {{{ partial "templates/actors/partials/lunar/attributes.html" }}}

            <div class="flexrow mt-2">
                <div>
                    {{{partial "templates/actors/partials/lunar/shape-pools.html" }}}
                    {{{partial "templates/actors/partials/front-page-left-column.html" }}}
                </div>
                <div style="flex-grow: 2">
                    {{{partial "templates/actors/partials/front-page-right-column.html" }}}
                </div>
            </div>

            {{{ partial "templates/actors/partials/health.html" }}}
            {{{ partial "templates/actors/partials/defenses.html" }}}

        </div>

        <div class="tab tab-2" data-tab="tab-2">
            {{{partial "templates/actors/partials/lunar/charms.html" }}}
        </div>

        <div class="tab tab-3" data-tab="tab-3">
            {{{partial "templates/actors/partials/anima.html" }}}
        </div>

        <div class="tab tab-4" data-tab="tab-4">
            {{{partial "templates/actors/partials/lunar/shapes.html" }}}
        </div>

        <div class="tab tab-5" data-tab="tab-5">
            {{{partial "templates/actors/partials/description.html" }}}
        </div>

        <div class="tab tab-6" data-tab="tab-6">
            {{{partial "templates/actors/partials/intimacies.html" }}}
        </div>

        <div class="tab tab-7" data-tab="tab-7">
            {{{partial "templates/actors/partials/pools.html" }}}
        </div>
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>