<label style="display: block">
    <span style="display: inline-block; width: 12em;">
        Accuracy (Close):
    </span>
    <input type="number" style="width: 3em" name="data.acc.close" value="{{ item.data.acc.close }}"/>
</label>

<label style="display: block">
    <span style="display: inline-block; width: 12em;">
        Accuracy (Short):
    </span>
    <input type="number" style="width: 3em" name="data.acc.short" value="{{ item.data.acc.short }}"/>
</label>

<label style="display: block">
    <span style="display: inline-block; width: 12em;">
        Accuracy (Medium):
    </span>
    <input type="number" style="width: 3em" name="data.acc.medium" value="{{ item.data.acc.medium }}"/>
</label>

<label style="display: block">
    <span style="display: inline-block; width: 12em;">
        Accuracy (Long):
    </span>
    <input type="number" style="width: 3em" name="data.acc.long" value="{{ item.data.acc.long }}"/>
</label>

<label style="display: block">
    <span style="display: inline-block; width: 12em;">
        Accuracy (Extreme):
    </span>
    <input type="number" style="width: 3em" name="data.extreme" value="{{ item.data.acc.extreme }}"/>
</label>