<div>
    Tags:
</div>

<div class="flexrow">
    {{#each tags.columns as |column|}}
        <div>
            {{#each column as |tag| }}
                <label style="display: block;">
                    <!-- why the fuck does this work for everything EXCEPT armour -->
                    <!-- ../tags works out a level, but not at this level on armour -->
                    <input type="checkbox" name="data.tags.{{ tag }}" {{is_checked ../../item.data.tags tag }} />
                    {{ object_value ../../tags.captions tag }}
                </label>
            {{/each}}
        </div>
    {{/each}}
</div>