<div class="anima">
    <div class="section-title">
        <div class="before"></div>
        <h3>Anima Banner</h3>
        <div class="after"></div>
    </div>
    <textarea name="data.anima_description" rows="10">{{ actor.data.anima_description }}</textarea>
</div>
