<div class="weapons mt-2">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            Armour
            <button class="item-button" data-action="add-item" data-item-type="armour" type="button">
                <i class="fas fa-tshirt"></i>
            </button>
        </h3>
        <div class="after"></div>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Soak</th>
            <th>Mobility</th>
            <th>Hardness</th>
            <th>Tags</th>
        </tr>

        {{#each armour as |item key|}}
            <tr>
                <td>
                    <button class="item-button" data-action="delete-item" data-item-id="{{ item._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="item-button" data-action="edit-item" data-item-id="{{ item._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                    {{ item.name }}
                </td>
                <td style="text-align: center">{{ item.data.soak }}</td>
                <td style="text-align: center">{{ item.data.mobility }}</td>
                <td style="text-align: center">{{ item.data.hardness }}</td>
                <td>{{ item.tags }}</td>
            </tr>
        {{/each}}
    </table>
</div>
