<div class="section-title">
    <div class="before"></div>
    <h3>Attributes</h3>
    <div class="after"></div>
</div>
<div class="flexrow">
    <div>
        <div>
            <button
                    class="attribute-dice item-button rollable"
                    data-roll-attribute="strength"
                    data-roll-text="Strength"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Strength:
            </span>
            {{{dots actor.data.strength.value "data.strength.value" 1 5 }}}
        </div>

        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="dexterity"
                    data-roll-text="Dexterity"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Dexterity:
            </span>
            {{{dots actor.data.dexterity.value "data.dexterity.value" 1 5 }}}
        </div>

        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="stamina"
                    data-roll-text="Stamina"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Stamina:
            </span>
            {{{dots actor.data.stamina.value "data.stamina.value" 1 5 }}}
        </div>
    </div>

    <div>
        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="charisma"
                    data-roll-text="Charisma"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Charisma:
            </span>
            {{{dots actor.data.charisma.value "data.charisma.value" 1 5 }}}
        </div>

        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="manipulation"
                    data-roll-text="Manipulation"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Manipulation:
            </span>
            {{{dots actor.data.manipulation.value "data.manipulation.value" 1 5 }}}
        </div>

        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="appearance"
                    data-roll-text="Appearance"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Appearance:
            </span>
            {{{dots actor.data.appearance.value "data.appearance.value" 1 5 }}}
        </div>
    </div>

    <div>
        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="perception"
                    data-roll-text="Perception"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Perception:
            </span>
            {{{dots actor.data.perception.value "data.perception.value" 1 5 }}}
        </div>

        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="intelligence"
                    data-roll-text="Intelligence"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Intelligence:
            </span>
            {{{dots actor.data.intelligence.value "data.intelligence.value" 1 5 }}}
        </div>

        <div>
            <button
                    class="item-button rollable attribute-dice"
                    data-roll-attribute="wits"
                    data-roll-text="Wits"
            >
                <i class="fas fa-dice"></i>
            </button>
            <span class="attribute-name">
                Wits:
            </span>
            {{{dots actor.data.wits.value "data.wits.value" 1 5 }}}
        </div>
    </div>
</div>