<div class="defenses">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            Defenses
        </h3>
        <div class="after"></div>
    </div>
    <table>
        <tr>
            <th>Parry</th> <td><input type="number" class="small-number" name="data.parry" value="{{ actor.data.parry }}" /></td>
            <th>Resolve</th> <td><input type="number" class="small-number" name="data.resolve" value="{{ actor.data.resolve }}" /></td>
        </tr>

        <tr>
            <th>Evasion</th> <td><input type="number" class="small-number" name="data.evasion" value="{{ actor.data.evasion }}" /></td>
            <th>Guile</th> <td><input type="number" class="small-number" name="data.guile" value="{{ actor.data.guile }}" /></td>
        </tr>

        <tr>
            <th>Rush</th> <td><input type="number" class="small-number" name="data.rush" value="{{ actor.data.rush }}" /></td>
            <th>Disengage</th> <td><input type="number" class="small-number" name="data.disengage" value="{{ actor.data.disengage }}" /></td>
        </tr>
    </table>
</div>
