<div class="weapons mt-2">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            Description/Bio
        </h3>
        <div class="after"></div>
    </div>

    <label style="display:block">
        <span style="display: block">Description:</span>
        <textarea name="data.description">{{ actor.data.description }}</textarea>
    </label>

    <label style="display:block">
        <span style="display: block">Biography:</span>
        <textarea name="data.biography">{{ actor.data.biography }}</textarea>
    </label>
</div>
