<div class="weapons mt-2">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            Equipment
            <button class="item-button" data-action="add-item" data-item-type="equipment" type="button">
                <i class="fas fa-shopping-bag"></i>
            </button>
        </h3>
        <div class="after"></div>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        {{#each equipment as |item key|}}
            <tr>
                <td>
                    <button class="item-button" data-action="delete-item" data-item-id="{{ item._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="item-button" data-action="edit-item" data-item-id="{{ item._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                    {{ item.name }}
                </td>
                <td>{{ item.description }}</td>
            </tr>
        {{/each}}
    </table>
</div>
