<div class="essence">
    <div class="section-title">
        <div class="before"></div>
        <h3>Essence</h3>
        <div class="after"></div>
    </div>

    <div style="text-align: center">
        {{{dots actor.data.essence.value "data.essence.value" 0 5 }}}
    </div>

    <table>
        <tr>
            <th>
                <button
                        class="item-button"
                        data-action="spend-essence"
                >
                    <i class="fas fa-minus"></i>
                </button>
                <button
                        class="item-button"
                        data-action="gain-essence"
                >
                    <i class="fas fa-plus"></i>
                </button>
            </th>
            <th>Available</th>
            <th>Max</th>
        </tr>

        <tr>
            <td>Personal</td>
            <td>{{ actor.data.personal_essence.value }}</td>
            <td><input type="number" class="small-number" name="data.personal_essence.max" value="{{ actor.data.personal_essence.max }}" /></td>
        </tr>

        <tr>
            <td>Peripheral</td>
            <td>{{ actor.data.peripheral_essence.value }}</td>
            <td><input type="number" class="small-number" name="data.peripheral_essence.max" value="{{ actor.data.peripheral_essence.max }}" /></td>
        </tr>
    </table>
</div>
