<div class="flexrow">
    <div style="padding: 0 10px 0 10px;">
        {{{partial "templates/actors/partials/specialties.html" }}}
    </div>

    <div>
        {{{partial "templates/actors/partials/merits.html" }}}
    </div>
</div>

<div class="flexrow">
    <div style="padding: 0 10px 0 10px;">
        {{{partial "templates/actors/partials/willpower.html" }}}
    </div>
    <div>
        {{{partial "templates/actors/partials/limit-break.html" }}}
    </div>
</div>

<div class="flexrow">
    <div style="padding: 0 10px 0 10px;">
        {{{partial "templates/actors/partials/essence.html" }}}
    </div>
    <div>
        {{{partial "templates/actors/partials/limit-trigger.html" }}}
    </div>
</div>

<div class="flexrow">
    <div style="padding: 0 10px 0 10px;">
        {{{partial "templates/actors/partials/experience.html" }}}
    </div>
    <div>
        {{{partial "templates/actors/partials/solar-experience.html" }}}
    </div>
</div>

{{{partial "templates/actors/partials/weapons.html" }}}
{{{partial "templates/actors/partials/armour.html" }}}
{{{partial "templates/actors/partials/equipment.html" }}}