<div class="health">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            Health
            <button class="item-button" data-action="take-damage" type="button">
                <i class="fas fa-fist-raised"></i>
            </button>
            <button class="item-button" data-action="heal-damage" type="button">
                <i class="fas fa-first-aid"></i>
            </button>
        </h3>
        <div class="after"></div>
    </div>

    {{{health_levels actor.data.health_levels }}}
    {{{health actor.data.health_levels actor.data.damage }}}
</div>
