<div class="merit-list">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            <button class="item-button" data-action="add-item" data-item-type="intimacy" type="button">
                <i class="fas fa-plus"></i>
            </button>
            Intimacies
        </h3>
        <div class="after"></div>
    </div>

    {{#each intimacies as |intimacy key|}}
    <div>
        <button class="item-button" data-action="delete-item" data-item-id="{{ intimacy._id }}" type="button">
            <i class="fas fa-trash"></i>
        </button>

        <button class="item-button" data-action="edit-item" data-item-id="{{ intimacy._id }}" type="button">
            <i class="fas fa-edit"></i>
        </button>
        <div style="display: inline-block">
            {{ intimacy.strength_name }} {{ intimacy.data.type }} {{ intimacy.data.name }}
        </div>
    </div>
    {{/each}}
</div>