<div class="limit-trigger">
    <div class="section-title">
        <div class="before"></div>
        <h3>Limit Trigger</h3>
        <div class="after"></div>
    </div>

    <textarea name="data.limit_trigger">{{ actor.data.limit_trigger }}</textarea>
</div>
