<div class="limit-break">
    <div class="section-title">
        <div class="before"></div>
        <h3>Limit Break</h3>
        <div class="after"></div>
    </div>
    {{{boxes actor.data.limit_break "data.limit_break" 0 10 }}}
</div>
