<div class="merit-list">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            <button class="item-button" data-action="add-item" data-item-type="merit" type="button">
                <i class="fas fa-plus"></i>
            </button>
            Merits
        </h3>
        <div class="after"></div>
    </div>

    {{#each merits as |merit key|}}
    <div>
        <button class="item-button" data-action="delete-item" data-item-id="{{ merit._id }}" type="button">
            <i class="fas fa-trash"></i>
        </button>

        <button class="item-button" data-action="edit-item" data-item-id="{{ merit._id }}" type="button">
            <i class="fas fa-edit"></i>
        </button>
        <div style="display: inline-block ;width: 5em;">
            {{ merit.name }}
        </div>
        {{{dots merit.data.levels 'data.levels' 1 5 actor merit._id }}}
    </div>
    {{/each}}
</div>