<div class="pool-list">
    <div class="section-title">
        <div class="before"></div>
        <h3>Dice Pools</h3>
        <div class="after"></div>
    </div>

    <label style="display: block">
        <span>Join Battle:</span>
        <select name="data.joinBattle.characteristic1">
            <option value=""></option>
            {{#select actor.data.joinBattle.characteristic1 }}
                {{#each characteristics as |characteristic|}}
                <option value="{{ characteristic }}">{{ characteristic }}</option>
                {{/each}}
            {{/select}}
        </select>
        <select name="data.joinBattle.characteristic2">
            <option value=""></option>
            {{#select actor.data.joinBattle.characteristic2 }}
            {{#each characteristics as |characteristic|}}
            <option value="{{ characteristic }}">{{ characteristic }}</option>
            {{/each}}
            {{/select}}
        </select>
        <input type="number" class="small-number" placeholder="bonus dice" value="{{ actor.data.joinBattle.modifier }}" name="data.joinBattle.modifier" />
    </label>
</div>