<div class="experience">
    <div class="section-title">
        <div class="before"></div>
        <h3>{{ exaltType }} Experience</h3>
        <div class="after"></div>
    </div>
    <label>
        Earned:
        <input type="number" class="small-number" name="data.solar_experience.earnt" value="{{ actor.data.solar_experience.earnt }}" />
    </label>

    <label>
        Spent:
        <input type="number" class="small-number" name="data.solar_experience.spent" value="{{ actor.data.solar_experience.spent }}" />
    </label>
    ({{ actor.data.solar_experience.available }})
</div>
