<div class="specialty-list">
    <div class="section-title">
        <div class="before"></div>
        <h3>Specialties</h3>
        <div class="after"></div>
    </div>

    {{#each actor.data.specialties as |specialty key|}}
    <div>
        <input type="text" class="mb-1" name="data.specialties.{{ key }}" value="{{ specialty }}" />
    </div>
    {{/each}}
</div>