<div class="weapons mt-2">
    <div class="section-title">
        <div class="before"></div>
        <h3>
            Weapons
            <button class="item-button" data-action="add-item" data-item-type="rangedWeapon" type="button">
                <i class="fas fa-bullseye"></i>
            </button>
            <button class="item-button" data-action="add-item" data-item-type="thrownWeapon" type="button">
                <i class="fas fa-fan"></i>
            </button>
            <button class="item-button" data-action="add-item" data-item-type="meleeWeapon" type="button">
                <i class="fas fa-fist-raised"></i>
            </button>
        </h3>
        <div class="after"></div>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Acc</th>
            <th>Dmg</th>
            <th>Def</th>
            <th>Ovw</th>
            <th>Tags</th>
        </tr>

        {{#each weapons as |weapon key|}}
            {{#if weapon.types.melee }}
            <tr>
                <td>
                    <button class="item-button" data-action="delete-item" data-item-id="{{ weapon._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="item-button" data-action="edit-item" data-item-id="{{ weapon._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                    <i class="fas fa-fist-raised"></i>
                    {{ weapon.name }}
                </td>
                <td style="text-align: center">{{ weapon.data.acc }}</td>
                <td style="text-align: center">{{ weapon.data.dmg }}</td>
                <td style="text-align: center">{{ weapon.data.def }}</td>
                <td style="text-align: center">{{ weapon.data.ovw }}</td>
                <td><td>{{ weapon.tags }}</td></td>
            </tr>
            {{/if}}
            {{#if weapon.types.thrown}}
                <tr>
                    <td>
                        <button class="item-button" data-action="delete-item" data-item-id="{{ weapon._id }}" type="button">
                            <i class="fas fa-trash"></i>
                        </button>

                        <button class="item-button" data-action="edit-item" data-item-id="{{ weapon._id }}" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                        <i class="fas fa-fan"></i>
                        {{ weapon.name }}
                    </td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">{{ weapon.data.dmg }}</td>
                    <td style="text-align: center">{{ weapon.data.def }}</td>
                    <td style="text-align: center">{{ weapon.data.ovw }}</td>
                    <td><!-- todo --></td>
                </tr>
                <tr><td style="text-align: right; font-style: italic">Close:</td><td style="text-align: center;">{{ weapon.data.acc.close }}</td><td colspan="4"></td></tr>
                <tr><td style="text-align: right; font-style: italic">Short:</td><td style="text-align: center;">{{ weapon.data.acc.short }}</td><td colspan="4"></td></tr>
                <tr><td style="text-align: right; font-style: italic">Medium:</td><td style="text-align: center;">{{ weapon.data.acc.medium }}</td><td colspan="4"></td></tr>
                <tr><td style="text-align: right; font-style: italic">Long:</td><td style="text-align: center;">{{ weapon.data.acc.long }}</td><td colspan="4"></td></tr>
                <tr><td style="text-align: right; font-style: italic">Extreme:</td><td style="text-align: center;">{{ weapon.data.acc.extreme }}</td><td colspan="4"></td></tr>
            {{/if}}
            {{#if weapon.types.ranged}}
            <tr>
                <td>
                    <button class="item-button" data-action="delete-item" data-item-id="{{ weapon._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="item-button" data-action="edit-item" data-item-id="{{ weapon._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                    <i class="fas fa-bullseye"></i>
                    {{ weapon.name }}
                </td>
                <td style="text-align: center"></td>
                <td style="text-align: center">{{ weapon.data.dmg }}</td>
                <td style="text-align: center">{{ weapon.data.def }}</td>
                <td style="text-align: center">{{ weapon.data.ovw }}</td>
                <td><!-- todo --></td>
            </tr>
            <tr><td style="text-align: right; font-style: italic">Close:</td><td style="text-align: center;">{{ weapon.data.acc.close }}</td><td colspan="4"></td></tr>
            <tr><td style="text-align: right; font-style: italic">Short:</td><td style="text-align: center;">{{ weapon.data.acc.short }}</td><td colspan="4"></td></tr>
            <tr><td style="text-align: right; font-style: italic">Medium:</td><td style="text-align: center;">{{ weapon.data.acc.medium }}</td><td colspan="4"></td></tr>
            <tr><td style="text-align: right; font-style: italic">Long:</td><td style="text-align: center;">{{ weapon.data.acc.long }}</td><td colspan="4"></td></tr>
            <tr><td style="text-align: right; font-style: italic">Extreme:</td><td style="text-align: center;">{{ weapon.data.acc.extreme }}</td><td colspan="4"></td></tr>
            {{/if}}

        {{/each}}
    </table>
</div>
