<div class="willpower">
    <div class="section-title">
        <div class="before"></div>
        <h3>Willpower</h3>
        <div class="after"></div>
    </div>
    {{{dots actor.data.willpower.max "data.willpower.max" 0 10 }}}
    {{{boxes actor.data.willpower.value "data.willpower.value" 0 10 }}}
</div>
