<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    {{ json tags }}
    <section class="sheet-body mt-2 mb-2">
        <div>
            <label style="display: block">
                <span style="display: inline-block; width: 6em;">
                    Soak:
                </span>
                <input type="number" style="width: 3em" name="data.soak" value="{{ item.data.soak }}" />
            </label>

            <label style="display: block">
                <span style="display: inline-block; width: 6em;">
                    Mobility:
                </span>
                <input type="number" style="width: 3em" name="data.mobility" value="{{ item.data.mobility }}" />
            </label>

            <label style="display: block">
                <span style="display: inline-block; width: 6em;">
                    Hardness:
                </span>
                <input type="number" style="width: 3em" name="data.hardness" value="{{ item.data.hardness }}" />
            </label>

            <div>
                {{{ partial "templates/items/partials/tags.html"}}}
            </div>

            <label style="display: block">
                <span style="display: block">Description:</span>
                <textarea name="data.description" rows="10">{{ item.data.description }}</textarea>
            </label>
        </div>
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>