<form class="{{cssClass}}" autocomplete="off">
    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        {{!-- To auto save character data give it a name rooted to the 'item' object (i.e. item.name or item.data.ST.value)  --}}
        <div class="flexrow">
            <div>
                <label style="display:block" class="text-muted">
                    Type:
                    <select name="data.type">
                        {{#select item.data.type }}
                        <option value="Tie">Tie</option>
                        <option value="Principle">Principle</option>
                        {{/select}}
                    </select>
                </label>
            </div>

            <div>
                <label style="display: block" class="text-muted">
                    Strength:
                    <select name="data.strength">
                        {{#select item.data.strength}}
                        <option value="2">Minor</option>
                        <option value="3">Major</option>
                        <option value="4">Defining</option>
                        {{/select}}
                    </select>
                </label>
            </div>

            <div>
                <label style="display: block" class="text-muted">
                    Name:
                    <input type="text" name="data.name" value="{{ item.data.name }}" />
                </label>
            </div>
        </div>

        <div>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </div>
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>