<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        <div>
            <label style="display: block">
                <span style="display: inline-block; width: 6em;">
                    Accuracy:
                </span>
                <input type="number" style="width: 3em" name="data.acc" value="{{ item.data.acc }}" />
            </label>

            <label style="display: block">
                <span style="display: inline-block; width: 6em;">
                    Damage:
                </span>
                <input type="number" style="width: 3em" name="data.dmg" value="{{ item.data.dmg }}" />
            </label>

            <label style="display: block">
                <span style="display: inline-block; width: 6em;">
                    Defense:
                </span>
                <input type="number" style="width: 3em" name="data.def" value="{{ item.data.def }}" />
            </label>

            <label style="display: block">
                <span style="display: inline-block; width: 6em;">
                    Overwhelm:
                </span>
                <input type="number" style="width: 3em" name="data.ovw" value="{{ item.data.ovw }}" />
            </label>

            <div>
                {{{ partial "templates/items/partials/tags.html"}}}
            </div>

            <label style="display: block">
                <span style="display: block">Description:</span>
                <textarea name="data.description" rows="10">{{ item.data.description }}</textarea>
            </label>
        </div>
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>