<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        {{!-- To auto save character data give it a name rooted to the 'item' object (i.e. item.name or item.data.ST.value)  --}}
        <div>
            <div>
                <span style="display: inline-block; width: 3em;">
                    Levels:
                </span>
                <input type="number" style="width: 3em" name="data.levels" value="{{ item.data.levels }}" />
            </div>

            <div>
                <span style="display: inline-block; width: 3em;">
                    Description:
                </span>
                <textarea rows="5" name="data.description">{{ item.data.description }}</textarea>
            </div>
        </div>
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>