<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        <div>
            <label style="display: block">
                <span style="display: block">Description:</span>
                <textarea name="data.description" rows="10">{{ item.data.description }}</textarea>
            </label>
        </div>
        <div data-role="animal_dice_pools" data-name="data.pools">
            <div data-container="pools">
                {{#each item.data.pools as |pool index|}}
                <div class="flexrow">
                    <input type="text" name="data.pools.{{ index }}.name" value="{{ pool.name }}" />
                    <input type="number" class="small-number" name="data.pools.{{ index }}.pool" value="{{ pool.pool }}" />
                    <select name="data.pools.{{ index }}.pool1">
                        {{#select pool.pool1 }}
                            <option value=""></option>
                            {{#each ../poolSources as |source| }}
                            <option value="{{ source }}">{{ source }}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <select name="data.pools.{{ index }}.pool2">
                        {{#select pool.pool2 }}
                        <option value=""></option>
                        {{#each ../poolSources as |source| }}
                        <option value="{{ source }}">{{ source }}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{/each}}
            </div>

            <button
                data-action="add-pool"
            >
                +
            </button>
        </div>
        <div>
            <label style="display: block">
                <span style="display: block">Other Stats:</span>
                <textarea name="data.dice_pools" rows="10">{{ item.data.dice_pools }}</textarea>
            </label>
        </div>
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>