<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        <div>
            <label style="display: block" class="mb-2">
                <span class="text-muted">Skill:</span>
                <select name="data.skill">
                    {{#select item.data.skill }}
                        {{#each skills as |skill index|}}
                            <option value="{{ skill }}">{{ skill }}</option>
                        {{/each}}
                    {{/select }}
                </select>
            </label>

            <label style="display: block;" class="mb-2">
                <span class="text-muted">Cost:</span>
                <input type="text" name="data.cost" value="{{ item.data.cost }}" />
            </label>

            <label style="display: block" class="mb-2">
                <span class="text-muted">Type:</span>
                <select name="data.type">
                    {{#select item.data.type }}
                    <option value="Simple">Simple</option>
                    <option value="Supplemental">Supplemental</option>
                    <option value="Reflexive">Reflexive</option>
                    <option value="Permanent">Permanent</option>
                    {{/select }}
                </select>
            </label>

            <div class="mb-2">
                <div class="text-muted">Keywords:</div>
                <div>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Aggravated" value="1" {{is_checked item.data.keywords.Aggravated }} /> Aggravated</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Bridge" value="1" {{is_checked item.data.keywords.Bridge }} /> Bridge</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Clash" value="1" {{is_checked item.data.keywords.Clash }} /> Clash</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Counterattack" value="1" {{is_checked item.data.keywords.Counterattack }} /> Counterattack</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.DecisiveOnly" value="1" {{is_checked item.data.keywords.DecisiveOnly }} /> Decisive-only</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Dual" value="1" {{is_checked item.data.keywords.Dual }} /> Dual</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Mute" value="1" {{is_checked item.data.keywords.Mute }} /> Mute</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Pilot" value="1" {{is_checked item.data.keywords.Pilot }} /> Pilot</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Psyche" value="1" {{is_checked item.data.keywords.Psyche }} /> Psyche</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Perilous" value="1" {{is_checked item.data.keywords.Perilous }} /> Perilous</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Salient" value="1" {{is_checked item.data.keywords.Salient }} /> Salient</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Stackable" value="1" {{is_checked item.data.keywords.Stackable }} /> Stackable</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.Uniform" value="1" {{is_checked item.data.keywords.Uniform }} /> Uniform</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.WitheringOnly" value="1" {{is_checked item.data.keywords.WitheringOnly }} /> Withering-only</label>
                    <label style="display: inline-block"><input type="checkbox" name="data.keywords.WrittenOnly" value="1" {{is_checked item.data.keywords.WrittenOnly }} /> Written-only</label>
                </div>
            </div>

            <label style="display: block" class="mb-2">
                <span class="text-muted">Duration:</span>
                <input type="text" name="data.duration" value="{{ item.data.duration }}" />
            </label>

            <label style="display: block">
                <span class="text-muted">Description:</span>
                <textarea rows="10" name="data.description">{{ item.data.description }}</textarea>
            </label>

            <!--
            <div>
                Merit:
                <select name="data.merit">
                    <option value=""></option>
                    {{#select item.data.merit }}
                        {{#each merits as |merit merit_id|}}
                        <option value="{{ merit_id }}">{{ merit.name }}</option>
                        {{/each}}
                    {{/select }}
                </select>
            </div>
            -->
        </div>
    </section>

    {{{ partial "templates/partials/debug-entity.html"}}}

    <div class="mt-2">
        {{ json item }}
    </div>
</form>